@import 'normalize.css';


/*Variables*/

$primary-color: #38434D;
$primary-color-dark: #1C2227;
$gold-color: #b19d6f;
$bg-color: #f2efe9;
$text-color: #8E9091;
$lineheight-hero: 1.1em;
$lineheight-text: 1.5em;
$font-stack-sans-serif: 'Raleway', sans-serif;
$font-stack-serif: 'Tiempos Text', Georgia, serif;


/*Base Styles*/

body, html{
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
  height: 100%;
}

body{
  font-size: 16px;
  width: 100%;
  height: auto;
  -webkit-tap-highlight-color: black;
  -webkit-font-smoothing: antialiased;
  background: white;
}

::selection {
  background: black;
  color: white;
}

::-moz-selection {
  background: black;
  color: white;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  text-decoration: none;
}

a,h1,h2,h3,h4,h5,span {

}

.hide-text {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
}

/*Page Styles*/

.miny{
  float:right;
  width:50px;
}

.overlay-bg {
display: none;
position: fixed;
top: 0;
left: 0;
height:100%;
width: 100%;
cursor: pointer;
background: #000; /* fallback */
background: rgba(0,0,0,0.75);
z-index: 100;
}

.overlay-content {
background: #fff;
padding: 1em;
width: 90%;
position: relative;
top: 15%;
left: 50%;
margin: 0 0 0 -45%; /* add negative left margin for half the width to center the div */
cursor: default;
z-index: 100;
}

.stop-scrolling {
  overflow: hidden;
}

.contact-input{
  background: $bg-color;
  margin: 0 0 1.5em 0;
   padding: 1.5em 1em;
   -webkit-transition: background .5s;
  &:focus{
    background:#f3f3f3;
    -webkit-transition: background .25s;
    outline:none;
  };
}

textarea{
  width: 100%;
  display: block;
  -webkit-appearance: none;
  resize: none;
  border: 0;
  padding: 0;
  font-size: 0.75em;
  letter-spacing: .2em;
  text-align: left;
  font-family: $font-stack-sans-serif;
}

.tags{
  display: inline-block;
  background: $bg-color;
  padding: 5px 20px;
  font-family: $font-stack-sans-serif;
  font-size: 13px;
  margin: 0 .25em .5em 0;
  border-radius: 100px;
   -webkit-transition: background .5s;
  &:hover{
    background:#f3f3f3;
    -webkit-transition: background .25s;
  }
}

a{
  color:inherit;
  text-decoration: none;
}

body{
  font-family: $font-stack-serif;
}

.header{
  padding: 1.5em;
  background: white;
}

.header-logo{
  display: block;
  background: url(../images/workof-logo.svg) no-repeat top left;
  width:100px;
  height: 22.5px;
  background-size: 100px 22px;
  margin: 0 auto;
}

.button{
  display: none;
  font-family: $font-stack-sans-serif;
}


.button-contact, .button-form-submit{
  width: 180px;
  margin: 1em auto 0;
  font-family: $font-stack-sans-serif;
  display: block;
  background: $primary-color;
  color: white; 
  font-size: 0.75em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  -webkit-transition: background .5s;

  &:hover{
    background: #1C2126;
    -webkit-transition: background .25s;
  }
}

.button-contact{
  border-radius: 100px;
  float: left;
    padding: .8em 1.6em;
}

.button-form-submit{
  padding: 1.25em 2em;
}

.container{
  margin: 0 0 2.75em 0;
}

.hero-text, .title-text{
  position:relative;
  font-size: 32px;
  font-weight: bold;
  font-family: $font-stack-sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding:4em 1em;
  margin: 0;
  line-height: $lineheight-hero;
  z-index: 100;
}

.tag-text {
  font-style: italic;
  font-weight: normal;
  font-family: $font-stack-serif;
  text-transform: none;
  padding:0;
  line-height: 0;

}

#slideshow { 
    margin: 0 auto 2.75em; 
    position: relative; 
    width: 100%; 
    height: 100%; 
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}

.section-title { 
    margin: 0 auto; 
    position: relative; 
    width: 100%; 
    height: 100%; 
}

.slide1{
  background: url(../images/hero-bg1.jpeg) no-repeat center center;
  background-size: cover;
  z-index: 90;
}
.slide2{
  background: url(../images/hero-bg2.jpeg) no-repeat center center;
  background-size: cover;
  z-index: 90;
}

.slide3{
  background: url(../images/hero-bg3.jpeg) no-repeat center center;
  background-size: cover;
  z-index: 90;
}

.makers-index{
  background: url(../images/makers-index-bg.jpg) no-repeat center center;
  background-size: cover;
  z-index: 90;
}

.profile{
  background: url(../images/profile-bg.jpg) no-repeat center center;
  background-size: cover;
  z-index: 90;
}

.title{
  font-family: $font-stack-sans-serif;
  font-weight:bold;
  color: $gold-color;
  text-align: center;
  font-size: .9em;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin: 0 0 2.75em 0;
  padding: .75em;

}


.profile-info{
padding: 0 1em;
}


.profile-title{
  font-family: $font-stack-sans-serif;
  font-weight:bold;
  color: $gold-color;
  text-align: left;
  font-size: .9em;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin: 0 0 .5em 0;
}

.title-first{
  margin: 2.75em 0;
}

.profile-title-first{
  margin-top: 2.75em;
}

.link-to-add{
  text-decoration: none;
  color: #8e9091;
  -webkit-transition: color .5s;
  &:hover{
    color: #1C2126;
    -webkit-transition: color .25s;
  };
}

.about-us, .signup{
  margin: 0 0 2em 0;
  padding: 0 2em;
}

.about-us-text, .signup-text{
  font-size: 20px;
  text-align: center;
  margin: 0;
  line-height: $lineheight-text;
  color:$text-color;
}


.featured, .portfolio {
  background: $bg-color;
  margin: 0 0 2.75em 0;
  padding: 2em;
}

.maker{
  background: white;
  padding: 1em;
  margin: 0 0 2em 0;
  text-align: left;
  line-height: $lineheight-text;
  color:$text-color;
  &:last-child{
    margin: 0 0 2.75em 0;
  }
}

.info{
  background: white;
  padding: 1em;
  text-align: left;
  line-height: $lineheight-text;
  color:$text-color;
}

.info-last{
    margin: 0 0 2.75em 0;
}

.product-crop{
  position:relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  img{
    display: block;
  }
}

.maker-info, .maker-info-profile{
  width: 100%;
  padding: 1.1em;
  position: relative;
  z-index: 100;
}

.maker-info {
  margin: -10.5em 0 1em 0;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 100%);
}

.maker-info-profile {
  margin: 0 0 0em 0;
}

.maker-info-profile-overlay {
  width: 100%;
  height: 100%;
  background: $primary-color-dark;
  opacity: .4;
  position: absolute;
  z-index: 1;
}

.maker-crop, .maker-crop-profile{
  position: relative;
  border-radius: 100px;
  z-index: 100;
  border: 4px solid white;
  overflow: hidden;
}


.maker-crop{
  width: 64px;
  height: 64px;
  margin: 1.5em auto 0.5em;
}

.maker-crop-profile{
    width: 88px;
  height: 88px;
  margin: -3.25em auto;
}


.maker-name{
  line-height: 1.3em;
  margin: 0 auto -0.25em;
  text-align: center;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 16px;
  .location{
    position: relative;
    top:-.1em;
    font-size: 12px;
  }
}

.social-icons{
  width: 100%;
  z-index: 3;
  padding: 1em;
  li{
    width:44px;
    height: 44px;
    float:left;
    display: block;
    list-style: none;
    opacity: 1;
    margin: 0 1em 0 0;
    -webkit-transition: opacity .5s;
    &:hover{
      opacity: .8;
      -webkit-transition: opacity .25s;
    }
  }
}

.maker-desc{
  margin: 0 0 2em 0;
  clear:both;
  &:last-child{
    margin:0;
  }
}

.info .maker-desc{
  margin: 0 0 1.5em 0;
  clear:both;
  &:last-child{
    margin:0;
  }
}

.portfolio-container {
    -moz-column-count: 1;
    -moz-column-gap: 1.25em;
    -webkit-column-count: 1;
    -webkit-column-gap: 1.25em;
    column-count: 1;
    column-gap: 1.25em;
    width: 100%;
}

.portfolio-container div {
    display: inline-block;
    width: 100%;
    margin: 0 0 1.25em 0;
}

input{
  width: 100%;
  display: block;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  font-size: 0.75em;
  text-align: center;
  padding: 1.25em 1em;
  margin: 0.5em 0 0 0;
  font-family: $font-stack-sans-serif;

}

.input-tray{
    display:block;
    margin: 0 auto 4em;
    overflow: hidden;
    height: 7em;
} 

.form-submitted.input-tray{
  margin: 0 auto -3.25em;

}

.email-input{
  background: $bg-color;
  margin: 1.25em 0 1em 0;
   padding: 1.5em 1em;
   -webkit-transition: background .5s;
  &:focus{
    background:#f3f3f3;
    -webkit-transition: background .25s;
    outline:none;
  };
}


::-webkit-input-placeholder {
  letter-spacing: 0.2em;
}
:-moz-placeholder { /* Firefox 18- */
  letter-spacing: 0.2em;
;  
}
::-moz-placeholder {  /* Firefox 19+ */
  letter-spacing: 0.2em;  
}
:-ms-input-placeholder {  
  letter-spacing: 0.2em;
}

.email-submit{
  background: $primary-color;
  color:white;
  -webkit-transition: background .5s;
  &:hover{
    background: #1C2126;
    -webkit-transition: background .25s;
  };
  &:focus{
    outline: none;
  };
}


.submit {
  background: $primary-color;
  color: white;
  cursor: pointer;
  letter-spacing: 0.2em;


  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
  padding: 1.5em 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-transition: background 1s;

  &:hover{
    background: #1C2126;
    -webkit-transition: background .25s;
  }

  &:focus{
    outline: none;
  };

}

.success-message{
  background: $primary-color;
  color: white;
  text-align: center;
  padding: 1em;
  margin: -5.25em 0 0 0;
  opacity: 0;
}

.form-submitted .success-message{
  opacity: 1;
  margin: 0;
    -webkit-transition: opacity 0.5s ease-in 1s, margin 0s linear 1s;
    -moz-transition: opacity 0.5s ease-in 1s, margin 0s linear 1s;
    -o-transition: opacity 0.5s ease-in 1s, margin 0s linear 1s;
    transition: opacity 0.5s ease-in 1s, margin 0s linear 1s;
}

.form-submitted .email-input,  .form-submitted .submit {
  opacity:0 !important;
    -webkit-transition: opacity 0.5s ease-in 0.5s;
    -moz-transition: opacity 0.5s ease-in 0.5s;
    -o-transition: opacity 0.5s ease-in 0.5s;
    transition: opacity 0.5s ease-in 0.5s;
}


.footer{
  background: $primary-color-dark;
  color: white;
  font-family: $font-stack-sans-serif;
  font-size: .7em;
  font-weight: 600;
  padding: 3em;
  text-align: center;
  text-transform: uppercase;
}

.footer-text{
    padding: 2em 0;
}

@media (min-width: 430px){
  .input-tray{
    height:8.125em;
  }

  .email-input{
    margin: 3em 0 1em 0;
  }

  .maker-name{
    margin: 0 auto;
  }

  .maker-crop{
    width: 72px;
    height: 72px;
    margin: .5em auto .75em;
  }

  .portfolio-container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  
}

@media (min-width: 768px){
  .fixed-width-content{
    max-width: 70%;
    margin: 0 auto;
  }

  .hero-text{
    font-size: 2.4em;
    padding: 3em 1em;
  }

  .overlay-content {
    width: 70%;
    margin: 0 0 0 -35%; /* add negative left margin for half the width to center the div */
  }

  .social-icons{
    li{
      width:44px;
      height: 44px;
      margin-top: -.25em;
      &:first-child{
        margin-left: 1em;
      }
    }
  }
}

@media (min-width: 1024px){
  
  .fixed-width-content{
    max-width: 1024px;
    margin: 0 auto;
  }

  .header-logo{
    float:left;
    margin: 0.8em 0 0 0;
  }

  #slideshow{
    margin: 0 0 3em 0;
  }

  .container{
    margin:0 0 3em 0;
  }

  .hero-text, .title-text{
    font-size: 72px;
    margin: 0 auto;
    padding: 3em 1em;
  }
  
  .button{
    display: block;
    position: static;
    z-index: 10;
    background: $primary-color;
    color: white; 
    float:right;
    padding: 1.25em 2em;
    font-size: 0.75em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: background .5s;

    &:hover{
      background: #1C2126;
      -webkit-transition: background .25s;
    }
  }


  .overlay-content {
    width: 50%;
    margin: 0 0 0 -25%; /* add negative left margin for half the width to center the div */
  }

  .title{
  margin: 0 0 2em 0;
  }

  .profile-title{
  margin: 0 0 .5em 0;
  }


  .title-first{
    margin: 3em 0;
  }

  .about-us-text, .signup-text{
    font-size: 26px;
    max-width: 600px;
    margin: 0 auto;
  }


  .featured, .portfolio{
    margin: 0 auto 3em;
  }

  .featured {
    padding: 3em .75em 4em;
  }

  .profile-info {
    padding: 3em 0 4em;
  }

  .portfolio{
    padding: 3em .75em 0em;
  }


  .maker-tray{
    padding-top: 1.25em;
  }

  .top-row {
      padding-top: 0em;
    }

  .maker-crop{
    margin: 0.5em auto .25em;
  }

  .maker-name{
    padding-top: .5em;
    margin: 0 auto 0em;
  }

  .maker{
    width:32%;
    margin: 0 1.25em 0 0;
    float:left;
    padding:1em;
    &:last-child{
      margin:0;
    }
  }
  
  .info{
    width:24%;
    margin: 0 .5em 0 0;
    float:left;
    padding:1em;
    &:last-child{
      margin:0;
    }
  }

  .info-first{
    width: 48%;
  }

  .portfolio-container {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  .input-tray{
    width: 600px;
    height: 3.1em;
  }


  input{
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
  }

.email-input, .submit{
  float:left;
  margin: 2.8em 0 0 0;
}

  .email-input{
    width: 500px;
  }

  .submit{
    width: 100px;
  }


  .footer{
    text-align: left;
  }
}



@media (min-width: 1280px){
  .fixed-width-content{
    max-width: 1280px;
    margin: 0 auto;
  }

    .portfolio-container {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}  

@media (min-width: 1800px){
  .fixed-width-content{
    max-width: 66%;
    margin: 0 auto;
  }

    .portfolio-container {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
  
}